body {
    background-color: #1a1a1a;
}

.banner, .banner-sport, .banner-book {
    border-radius: 10px;
    width: 85vw;
    height: 48vh;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.banner-sport {
    width: 75vw;
    height: 50vh;
}

.banner-book {
    width: 50vw;
    height: 30vw;
}

.car, .sport, .uch, .library {
    position: absolute;
    margin-left: 8vw;
    margin-top: -2vh;
    font-family: "Russo One", sans-serif;
    font-size: 5em;
    font-weight: 10;
    font-style: normal;
    color: white;
}

.sport {
    margin-left: 21.5vw;
}

.uch {
    font-size: 4.5em;
    margin-left: 3.4vw;
    width: 70vw;
}

.library {
    margin-left: 12.5vw;
}

.banner-square-text, .banner-square-text-sport, .banner-square-text-uch {
    margin-left: 17vw;
    margin-top: 1.5vh;
    font-family: "Russo One", sans-serif;
    font-size: 3em;
    font-weight: 10;
    font-style: normal;
    color: white;
}

.banner-square-text-sport {
    margin-left: 22vw;
}

.banner-square-text-uch {
    margin-left: 27vw;
}



.banner-square {
    opacity: 0.68;
    position: absolute;
    margin-left: 20vw;
    margin-top: 13vh;
    width: 60vw;
    height: 20vh;
    border: solid #251c1c 5px;
    border-radius: 15px;
    background-color: #1a1a1a;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.banner-text {
    position: absolute;
    margin-left: 20vw;
    margin-top: 13vh;
    width: 60vw;
    height: 20vh;
}
.banner-div {
    display:inline;
}

.line {
    margin-left: -5px;
    border-radius: 15px;
    margin-top: 2vh;
    width: 98.5vw;
    height: 5px;
    background-color: white;
}

.history-title {
    margin-left: 2.5vw;
    margin-top: 2vh;
    font-family: "Russo One", sans-serif;
    font-size: 4.2em;
    font-weight: 10;
    font-style: normal;
    color: white;
}

.history-text, .sport-text {
    margin-left: 2.5vw;
    margin-top: -3vh;
    width: 50vw;
    font-family: "Russo One", sans-serif;
    font-size: 1.5em;
    font-weight: 10;
    font-style: normal;
    color: white;
}

.sport-text {
    font-weight: 50;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    font-size: 2em;
    margin-top: 7vh;
}

.video {
    margin-left: 3vw;
    margin-top: -8vh;
    width: 40vw;
}

.video-text {
    position: absolute;
    margin-left: 56vw;
    margin-top: -10vh;
    font-family: "Russo One", sans-serif;
    font-size: 1.5em;
    font-weight: 10;
    font-style: normal;
    color: white;
}

.navbar, .navbar-uch {
    display: inline;
    margin-top: 0px;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul, .uch-ul {
    margin-left: 25vw;
    margin-top: 3vh;
}

.uch-ul {
    margin-left: 25vw;
}

li {
    margin-right: 60px;
    display: inline;
}

.button {
    outline: 0;
    margin-left: 1vw;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #ff4742;
    color: #fff;
    background-color: #ff4742;
    padding: 8px;
    font-weight: 200;
    font-size: 16px;
    height: 42px;
    text-decoration: none;
    font-family: "Russo One";
    :hover{
        color: #ff4742;
    }
}

.button:hover {
    background: 0 0;
        color: #ff4742;
}